*~
*.diff
*.patch
*.o
*.lo
core
Makefile
Makefile.in
!intl/Makefile.in
about.en
about.jp
build*
config.cache
config.guess
config.h
configure.scan
debugbuild*
enfle-config.h.in
config.log
config.status
config.sub
config.rpath
configure
install-sh
makedist
missing
mkinstalldirs
stamp-h*
.deps
aclocal.m4
config.h.in
compile
ltconfig
ltmain.sh
libtool
.libs
depcomp
.anjuta
.tm_project2.cache
autom4te.cache
TODO.tasks
POTFILES
src/ebview
util/ebdump
INSTALL
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
po/cat-id-tbl.c
po/ebview.pot
po/ja.gmo
po/ja.po.utf-8
