*~
*.diff
*.patch
*.lo
Makefile
Makefile.in
build*
config.cache
config.guess
config.h
configure.scan
debugbuild*
enfle-config.h.in
config.log
config.status
config.sub
config.rpath
configure
install-sh
makedist
missing
mkinstalldirs
stamp-h*
.deps
aclocal.m4
config.h.in
ltconfig
ltmain.sh
libtool
.libs
depcomp
.anjuta
.tm_project2.cache
autom4te.cache
TODO.tasks
enfle.anjuta
lib/mad/mad.h
